@font-face {
	font-family: Gilbert;
	font-weight: bold;
	src: url('./Gilbert-Bold.otf') format('opentype');
}

:root {
	--blue-700: #5bcefa;
	--indigo-700: #8ea5f8;
	--lavender-700: #d7a0f7;
	--pink-700: #f5a9b8;
	--white: #ffffff;
	--black: #1e1729;
	--purple-500: #aba3f1;
	--lime: #86ec99;
	--ivy: #65d656;
	--forest: #6a9955;
	--moss: #335122;
	--pine: #172a18;
	--sun: #ecd47c;
	--gold: #ffbd7a;
	--clay: #f59778;
	--grapefruit: #d16969;
	--sky: #9cdcfe;
	--water: #86b6ec;
	--spring: #4fc1ff;
	--ultraviolet: #443388;
	--violet: #aba3f1;
	--plum: #1e1729;
	--gap-2: 2rem;
	--gap-1: 1rem;
	--gap-0-5: 0.5rem;
	--gap-0-25: 0.25rem;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	background-color: var(--plum);
	color: var(--white);
	line-height: 1.75;
}

html,
body {
	height: 100%;
	color-scheme: dark;
}

.gilbert {
	font-family: 'Gilbert', sans-serif;
	font-size: 1.1em;
}

h1,
h2,
h3,
header {
	font-family: 'Gilbert', sans-serif;
}

p {
	margin-top: var(--gap-1);
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes scrollin {
	0% {
		transform: translateY(-110%);
		opacity: 0;
	}
	25% {
		opacity: 0.5;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-top: var(--gap-1);
}

.card {
	border: 2px solid var(--violet);
	padding: var(--gap-0-5);
}

button {
	border: 2px solid var(--violet);
	border-radius: var(--gap-0-5);
	background-color: transparent;
	color: inherit;
	font-size: 1.1em;
	font-family: 'Gilbert', sans-serif;
	cursor: pointer;
}
