::-webkit-scrollbar {
	width: var(--gap-0-5);
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--violet-900);
	margin: 0.1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--violet-700);
}
